{% extends "layaouts/layaout_adm.html" %}
{% block title %}PsiConnection - Supervisores{% endblock %}
{% block content %}

        <section class="sect">
            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">

                        <div class="d-flex align-items-center mb-4">

                            <div>
                                <h2 class="textoPresentacion">Supervisores</h2>
                            </div>

                            <div class="ms-4">
                                <a href="" class="btn btn-success align-items-center" data-bs-toggle="modal"
                                    data-bs-target="#addEmployeeModal">
                                    <img class="align-items-center" src="{{ url_for('static', filename= 'img/plus.svg') }}" alt="" width="20px"
                                        height="20px" style="margin-top:-2px;">
                                    <span>Agregar supervisor</span></a>
                            </div>

                        </div>

                    </div>
                </div>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th>Nombre</th>
                            <th>Apellido paterno</th>
                            <th>Apellido materno</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sup in datosSup %}
                        <tr data-id="{{sup.idSup}}">

                            <td>{{sup.nombreSup}}</td>
                            <td>{{sup.apellidoPSup}}</td>
                            <td>{{sup.apellidoMSup}}</td>
                            <td>{{sup.correoSup}}</td>
                            <td>
                                <a href="#editEmployeeModal" class="btn-edit edit linkIcono" data-bs-toggle="modal">
                                    <img class="Icono" src="{{ url_for('static', filename= 'img/edit.svg') }}" alt="Editar">
                                </a>
                                <a href="#deleteEmployeeModal" class="delete linkIcono" data-bs-toggle="modal">
                                    <img class="Icono" src="{{ url_for('static', filename= 'img/trash.svg') }}" alt="Editar">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <!-- add Modal HTML -->
        <div id="addEmployeeModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Agregar supervisor</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" action="{{ url_for('crearCuentaSupervisor') }}" id="AgregarSupervisor" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">

                            <div class="form-group">
                                <label for="nombreSup" class="form-label">Nombre</label>
                                <input name="nombreSup" type="text" class="form-control border border-dark"
                                    id="nombreSup" value="" required
                                    maxlength="20"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,20}"
                                    title="Solo letras Minimo 2 Maximo 20" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="apellidoPSup" class="form-label">Apellido Paterno</label>
                                <input name="apellidoPSup" type="text" class="form-control border border-dark"
                                    id="apellidoPSup" value="" required
                                    maxlength="15"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,15}"
                                    title="Solo letras Minimo 2 Maximo 15" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="apellidoMSup" class="form-label">Apellido Materno</label>
                                <input name="apellidoMSup" type="text" class="form-control border border-dark"
                                    id="apellidoMSup" value="" required
                                    maxlength="15"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,15}"
                                    title="Solo letras Minimo 2 Maximo 15" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="correoSup" class="form-group">Correo</label>

                                <div id="correo-conrtainer">

                                    <input name="input-editable" id="input-editable" type="text"
                                        class="left-input form-control border border-dark"
                                        maxlength="35"
                                        placeholder="Correo institucional" pattern="^[a-z]+\.[a-z]+\d{4}$" required
                                        title="Correo invalido">

                                    <input name="input-readonly" id="input-readonly" type="text"
                                        class="right-input form-control border border-dark" value="@alumnos.udg.mx"
                                        readonly />

                                    <input type="hidden" name="correoSup" id="correoSup">
                                </div>
                            </div>

                            <div class="form-group password-toggle-container">
                                <label for="contraSup" class="form-group">Contraseña</label>
                                <input name="contraSup" id="contraSup" type="password"
                                    class="form-control border border-dark"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'?/:;.,]).{8,}" required
                                    title="Debe tener al menos 8 caracteres, una mayúscula y un carácter especial">
                                <button type="button" id="togglePassword" class="password-toggle-button"
                                   >Mostrar</button>

                            </div>

                            <div class="form-group password-toggle-container">
                                <label for="contraSup_confirm" class="form-group">confirmar Contraseña</label>
                                <input name="contraSup_confirm" id="contraSup_confirm" type="password"
                                    class="form-control border border-dark"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'?/:;.,]).{8,}" required
                                    title="Debe tener al menos 8 caracteres, una mayúscula y un carácter especial">
                                <button type="button" id="toggleConfirmPassword" class="password-toggle-button"
                                    >Mostrar</button>
                            </div>

                        </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
                                <input type="submit" class="btn btn-info" value="Guardar">
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="editEmployeeModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Editar supervisor</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>

                    <div class="modal-body">
                        <form id="editSup" action="{{ url_for('editarCuentaSupervisor') }}" method="POST" enctype="multipart/form-data">

                            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                            <input type="hidden" name="idSup">

                            <h2 class="textoPresentacion text-center">Datos Personales</h2>

                            <div class="form-group">
                                <label for="nombreSup" class="form-label">Nombre</label>
                                <input name="nombreSup" type="text" class="form-control border border-dark"
                                    id="nombreSup" value="" required
                                    maxlength="20"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,20}"
                                    title="Solo letras Minimo 2 Maximo 20" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="apellidoPSup" class="form-label">Apellido Paterno</label>
                                <input name="apellidoPSup" type="text" class="form-control border border-dark"
                                    id="apellidoPSup" value="" required
                                    maxlength="15"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,15}"
                                    title="Solo letras Minimo 2 Maximo 15" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="apellidoMSup" class="form-label">Apellido Materno</label>
                                <input name="apellidoMSup" type="text" class="form-control border border-dark"
                                    id="apellidoMSup" value="" required
                                    maxlength="15"
                                    pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,15}"
                                    title="Solo letras Minimo 2 Maximo 15" class="form-control" />
                            </div>

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Guardar">
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Delete Modal HTML -->
        <div id="deleteEmployeeModal" class="modal fade" class="modal fade" tabindex="-1" data-bs-backdrop="static"
            data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Eliminar supervisor</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <form id="deleteSup" action="{{ url_for('eliminarCuentaSupervisor') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                            <input type="hidden" name="idSup" value="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="{{ url_for('static', filename= 'img/PELIGRO 2@2x.png') }}" alt="Ver Expediente" width="80px"
                                            style=" float: left; margin-right: 30px; margin-left: 20px;">
                                    </div>

                                    <div class="col-lg-6">
                                        <p>¿Esta seguro de eliminar este registro?</p>
                                    </div>
                                </div>
                            </div>
                            <p id="nombreModal"></p>
                            <p class="text-warning"><small>Esta accion no se puede deshacer.</small></p>
                    </div>

                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Borrar">
                    </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}