{% extends "layaouts/layaout.html" %}
{% block title %}PsiConnection - Resultados de Síntomas{% endblock %}
{% block content %}

<section class="sect">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="textoPresentacion">Resultados de: {{paciente.nombrePaci}} {{paciente.apellidoPPaci}} {{paciente.apellidoMPaci}}</h2>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Respuestas del Paciente a la Encuesta</h3>
                <p>A continuación se muestran las respuestas del paciente a cada pregunta de la encuesta realizada. Las opciones posibles son: <strong>Siempre</strong>, <strong>Casi siempre</strong>, <strong>A menudo</strong>, <strong>De vez en cuando</strong> y <strong>Nunca</strong>.</p>
                <ol>
                    {% for respuesta in respuestas %}
                        {# Usar loop.index0 para obtener el índice del bucle #}
                        <li><strong>{{ preguntas[loop.index0] }}:</strong> 
                            {% if respuesta == 4 %}
                                Siempre
                            {% elif respuesta == 3 %}
                                Casi siempre
                            {% elif respuesta == 2 %}
                                A menudo
                            {% elif respuesta == 1 %}
                                De vez en cuando
                            {% elif respuesta == 0 %}
                                Nunca
                            {% endif %}

                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Diagnóstico Basado en las Respuestas</h3>
                <p>El diagnóstico preliminar del paciente se basa en las probabilidades de la presencia de diferentes trastornos mentales. Los resultados se interpretan como sigue:</p>
                <ul>
                    {% for resultado in diagnostico %}
                        <li>{{ resultado }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <p><strong>Nota:</strong> Esta lista de síntomas es una herramienta de apoyo y no constituye un diagnóstico definitivo. Se recomienda una evaluación profesional completa para un diagnóstico preciso.</p>

        <div class="row mt-4">
            <div class="col-md-12">
                <a href="{{ url_for('indexPracticantes') }}" class="btn btn-primary">Volver al Índice</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
