{% extends "layaouts/layaout.html" %}
{% block title %}Agregar practicante{% endblock %}
{% block content %}

        <section class="sect">
            <h2 class="text-center">Registro de Practicantes</h2>
            <form id="agregarPacticante" class="row g-3 justify-content-center" action="/CrearPracticante" method="POST"
                enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                <input type="hidden" name="idSup" value="{{a.idSup}}">

                <div class="col-md-4">
                    <label for="nombrePrac" class="form-group">Nombre(s)</label>
                    <input name="nombrePrac" id="nombrePrac" type="text" class="form-control border border-dark"
                        required
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,35}"
                        title="Solo letras Minimo 2 Maximo 35" />
                </div>

                <div class="col-md-4">
                    <label for="apellidoPPrac" class="form-group">Apellido paterno</label>
                    <input name="apellidoPPrac" id="apellidoPPrac" type="text" class="form-control border border-dark"
                        required
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,35}"
                        title="Solo letras Minimo 2 Maximo 35" />
                </div>

                <div class="col-md-4">
                    <label for="apellidoMPrac" class="form-group">Apellido Materno</label>
                    <input name="apellidoMPrac" id="apellidoMPrac" type="text" class="form-control border border-dark"
                        required
                        pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'\-]{2,35}"
                        title="Solo letras Minimo 2 Maximo 35" />
                </div>

                <div class="col-md-4">
                    <label for="correoPrac" class="form-group">Correo</label>

                    <div id="correo-conrtainer">

                        <input name="input-editable" id="input-editable" type="text"
                            class="left-input form-control border border-dark" placeholder="Nombre de usuario"
                            pattern="^[a-z]+\.[a-z]+\d{4}$" required title="Correo invalido">

                        <input name="input-readonly" id="input-readonly" type="text"
                            class="right-input form-control border border-dark" value="@alumnos.udg.mx" readonly />

                        <input type="hidden" name="correoPrac" id="correoPrac">
                    </div>
                </div>

                <div class="col-md-4 password-toggle-container">
                    <label for="contraPrac" class="form-group">Contraseña</label>
                    <input name="password" id="password" type="password" class="form-control border border-dark"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'?/:;.,]).{8,}" required
                        title="Debe tener al menos 8 caracteres, una mayúscula y un carácter especial">
                    <button type="button" id="togglePassword" class="password-toggle-button"
                        onclick="togglePasswordVisibility('password', 'togglePassword')">Mostrar</button>

                </div>

                <div class="col-md-4 password-toggle-container">
                    <label for="contraseña" class="form-group">confirmar Contraseña</label>
                    <input name="confirmPassword" id="confirmPassword" type="password"
                        class="form-control border border-dark"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'?/:;.,]).{8,}" required
                        oninput="checkPasswordMatch()"
                        title="Debe tener al menos 8 caracteres, una mayúscula y un carácter especial">
                    <button type="button" id="toggleConfirmPassword" class="password-toggle-button"
                        onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')">Mostrar</button>
                </div>

                <div class="col-md-4">
                    <label for="telCelPrac" class="form-group">Teléfono Celular</label>
                    <input name="telCelPrac" id="telCelPrac" type="text" class="form-control border border-dark"
                        required pattern="^(\+|00)[1-9][0-9 \-\(\)\.]{10,15}$"
                        title="Numero con lada, máximo 16 digitos" />
                </div>

                <div class="col-md-4">
                    <label for="codigoPrac" class="form-group">Código</label>
                    <input name="codigoPrac" id="codigoPrac" type="text" class="form-control border border-dark "
                        required pattern="[0-9]{9}" title="Código Escolar, máximo 9 digitos" inputmode="numeric" />
                </div>

                <div class="col-xl-5 col-xl-5">
                    <label for="fechaPrac" class="control-label">Fecha de Nacimiento</label>
                    <input name="fechaPrac" id="fechaPrac" type="date"
                        class="form-control form-control border border-dark" required>
                </div>

                <div class="col-xl-5 col-xl-5">
                    <label for="fotoPrac" class="control-label ">Inserte tu Foto</label>
                    <input name="fotoPrac" id="fotoPrac" type="file"
                        class="form-control form-control border border-dark" accept="image/*" required>
                </div>

                <div class="col-md-4">
                    <label for="sexoPrac" class="control-label">Sexo</label>
                    <select name="sexoPrac" id="sexoPrac"
                        class="form-select form-select-sm form-control border border-dark"
                        aria-label=".form-select-sm example" required>
                        <option selected></option>
                        <option value="Hombre">Hombre</option>
                        <option value="Hombre">Mujer</option>
                        <option value="NoDecirlo">Prefiero no decirlo</option>
                    </select>
                </div>

                <div class="row  justify-content-center align-items-center ml-5">
                    <div class="col-auto mt-5 ml-5"><a href="/templates/supervisor/index_supervisor.html"><button
                                class="btn btn-secondary col-auto" type="button">Cancelar</button></a></div>
                    <div class="col-auto mt-5 ml-5"><button class="btn btn-primary col-auto"
                            type="submit">Enviar</button></div>
                </div>
                </div>
            </form>
        </section>

{% endblock %}