{% extends "layaouts/layaout.html" %}
{% block title %}Encuestas practicantes{% endblock %}
{% block content %}

        <section class="sect">
            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="textoPresentacion">Encuestas Practicante</h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Dirección</th>
                                <th>Código</th>
                                <th>Calificación</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Thomas Hardy</td>
                                <td>thomashardy@mail.com</td>
                                <td>89 Chiaroscuro Rd, Portland, USA</td>
                                <td>216144045</td>
                                <td>carita buena o mala
                                </td>
                            </tr>

                            <tr>
                                <td>Thomas Hardy</td>
                                <td>thomashardy@mail.com</td>
                                <td>89 Chiaroscuro Rd, Portland, USA</td>
                                <td>216144045</td>
                                <td>carita buena o mala</td>
                            </tr>

                            <tr>
                                <td>Thomas Hardy</td>
                                <td>thomashardy@mail.com</td>
                                <td>89 Chiaroscuro Rd, Portland, USA</td>
                                <td>216144045</td>
                                <td>carita buena o mala</td>
                            </tr>

                            <tr>
                                <td>Thomas Hardy</td>
                                <td>thomashardy@mail.com</td>
                                <td>89 Chiaroscuro Rd, Portland, USA</td>
                                <td>216144045</td>
                                <td>carita buena o mala</td>
                            </tr>

                            <tr>
                                <td>Thomas Hardy</td>
                                <td>thomashardy@mail.com</td>
                                <td>89 Chiaroscuro Rd, Portland, USA</td>
                                <td>216144045</td>
                                <td>carita buena o mala</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!--**** Este section es lo que debe de cambiar en todos los html ******-->

        </section>
 
{% endblock %}