{% extends "layaouts/layaout.html" %}
{% block title %}Encuesta practicante{% endblock %}
{% block content %}

        <!--***Este section es lo que debe de cambiar en todos los html *****-->
        <section class="sect">
            <div class="container">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2 class="textoPresentacion">Encuestas Practicante</h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>Nombre Practicante</th>
                                <th>Nombre Paciente</th>
                                <th>Correo</th>
                                <th>Código</th>
                                <th>Ver Encuesta</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for datos in datosEncu %}
                            <tr>
                                <td>{{datos.nombrePrac}} {{datos.apellidoPPrac}} {{datos.apellidoMPrac}}</td>
                                <td>{{datos.nombrePaci}} {{datos.apellidoPPaci}} {{datos.apellidoMPaci}}</td>
                                <td>{{datos.correoPrac}}</td>
                                <td>{{datos.codigoUPrac}}</td>
                                <td> <a href="{{ url_for('verResultadosEncuesta', idEncu=datos.idEncu) }}">Ver Encuesta</a> </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}