{% extends "layaouts/layaout.html" %}
{% block title %}Resultados encuestas{% endblock %}
{% block content %}

        <section class="sect">

            <!--***Este section es lo que debe de cambiar en todos los html *****-->

            <h2 class="text-center">Encuesta de Satisfacción</h2>

            <p class="form-control preg">
                <label for="pregunta-1" class="labeEncuestaPaci">1. ¿Cómo calificaría su nivel de satisfacción general
                    con el servicio
                    proporcionado por
                    el psicólogo?</label>
            <p>Respuesta: {{resu.pregunta1Encu}}</p>
            </p>

            <p class="form-control preg">
                <label for="pregunta-2" class="labeEncuestaPaci">2. ¿El psicólogo escuchó atentamente sus preocupaciones
                    y dudas durante las
                    sesiones?</label>
            <p>Respuesta: {{resu.pregunta2Encu}}</p>
            </p>

            <p class="form-control preg">
                <label for="pregunta-3" class="labeEncuestaPaci">3. ¿Se sintió cómodo compartiendo sus pensamientos y
                    sentimientos con el
                    psicólogo?</label>
            <p>Respuesta: {{resu.pregunta3Encu}}</p>
            </p>


            <p class="form-control preg">
                <label for="pregunta-4" class="labeEncuestaPaci">4. ¿El psicólogo mostró empatía y comprensión hacia sus
                    problemas?</label>
            <p>Respuesta: {{resu.pregunta4Encu}}</p>
            </p>

            <p class="form-control preg">
                <label for="pregunta-5" class="labeEncuestaPaci">5. ¿Sintió que el tratamiento fue efectivo para abordar
                    sus problemas o
                    preocupaciones?</label>
            <p>Respuesta: {{resu.pregunta5Encu}}</p>
            </p>

            <p class="form-control preg">
                <label for="pregunta-6" class="labeEncuestaPaci">6. ¿Cómo calificaría la calidad y la organización del
                    psicólogo en cuanto a
                    las citas y la
                    comunicación?</label>
            <p>Respuesta: {{resu.pregunta6Encu}}</p>
            </p>

            <p class="form-control preg">
                <label for="pregunta-7" class="labeEncuestaPaci">7. ¿Recomendaría a este psicólogo a amigos o familiares
                    que necesiten
                    servicios de salud
                    mental?</label>
            <p>Respuesta: {{resu.pregunta7Encu}}</p>
            </p>
            <p class="form-control preg">
                <label for="pregunta-8" class="labeEncuestaPaci">8. ¿Tiene algún comentario adicional o sugerencias para
                    mejorar la
                    experiencia con el
                    psicólogo?</label><br>
            <p>Respuesta: {{resu.pregunta8Encu}}</p>
            </p>
            <div class="text-center">

                <!--**** Este section es lo que debe de cambiar en todos los html ******-->

        </section>
{% endblock %}