<!DOCTYPE html>
<html>

<head>
  <title>Verificación de Código</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/verify.css')}}">
</head>

<body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <li class="error">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  <div class="container">
    <h1>Verificación de Código </h1>
    <form action="{{ url_for('verify') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
      <label for="code">Introduce tu código aquí:</label>
      <input type="text" id="code" name="code" required>
      <button type="submit">Verificar</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename= 'js/jquery.min.js')  }}"></script>
  <script src="{{ url_for('static', filename= 'js/script.js')   }}"></script>
</body>

</html>