<footer class="footer text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container pt-2 pl-4 pr-4 textoclaro">
        <!--Grid row-->
        <div class="row my-4 ">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">

                <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
                    style="width: 150px; height: 150px;">
                    <img src="/static/img/logo_Psi.png" height="70" alt="" loading="lazy" />
                </div>

                <p class="text-center textoclaro">PsiConnection es un sistema de citas para consultas de psicología
                    presencial
                    o en línea. Conectamos a nuestros usuarios con psicólogos altamente capacitados y
                    experimentados. En Psiconnection, valoramos la privacidad y la confidencialidad de nuestros
                    usuarios y nos aseguramos de que todas las consultas sean seguras y protegidas. ¡Permítenos
                    ayudarte a encontrar la ayuda que necesitas!</p>

                <ul class="list-unstyled d-flex flex-row justify-content-center">
                    <li>
                        <a class="text-white px-2" href="https://www.facebook.com/udgcucei" target="_blank">
                            <img id="FabIcono" src="/static/img/facebook.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="text-white px-2 textoclaro" href="http://www.cucei.udg.mx/" target="_blank">
                            CUCEI
                        </a>
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mt-5 mb-md-0">
                <h5 class="text-uppercase mb-4 textoclaro">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <p class="textoclaro">
                            <img class="FotIcono" src="/static/img/location-dot-solid.svg" alt="">
                            Blvd. Marcelino García Barragán #1421, esq.
                            Calz. Olímpica, C.P. 44430
                            Guadalajara, Jalisco, México
                        </p>
                    </li>
                    <li>
                        <p class="textoclaro">
                            <img class="FotIcono" src="/static/img/phone-solid.svg" alt="">
                            + 52 33 1378 5900
                        </p>
                    </li>
                    <li>
                        <p class="textoclaro">
                            <img class="FotIcono" src="/static/img/envelope-solid.svg" alt="">
                            <a id="linkMail" href="mailto:psi.connection10@gmail.com">psi.connection10@gmail.com</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="{{url_for('home')}}">psiconnection.com</a>
    </div>
    <!-- Copyright -->
</footer>