{% extends "layaouts/layaout.html" %} {% block title %}PsiConnection - Agendar
cita{% endblock %} {% block content %}

<section class="sect">

  <h2 class="text-center">Elija al practicante</h2>
  <div class="sectmycard2 row">

    {% for cita in datosPrac %}
    <a
      href="{{ url_for('calendario', idPrac=cita.idPrac) }}"
      class="link-card-practicante"
    >
      <div class="card card-practicante">
        <img
          src="{{ url_for('static', filename= 'img/' + cita.fotoPrac) }}"
          class="card-img-top"
          style="height: 12rem; object-fit: cover; border-radius: 9px 9px 0 0"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center">Practicante</h5>

          <p id="nombrePrac" class="text-center mt-2">{{cita.nombrePrac}}</p>
          <p id="apellidoPPrac" class="text-center mt-2">
            {{cita.apellidoPPrac}}
          </p>
          <p id="apellidoMPrac" class="text-center mt-2">
            {{cita.apellidoMPrac}}
          </p>

          <p id="correoPrac" class="text-center mt-2">{{cita.correoPrac}}</p>
          <p id="correoPaci" class="text-center mt-2">{{cita.correoPaci}}</p>

          <p id="idPaci" display="none;">{{cita.idPaci}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
    
  </div>

</section>

{% endblock %}
