{% extends "layaouts/layaout.html" %}
{% block title %}PsiConnection - Agendar cita{% endblock %}
{% block content %}

<section class="sect">
  <h2 class="text-center">Elija al practicante</h2>
  <div class="sectmycard2-custom row">

    {% for cita in datosPrac %}
    <a href="{{ url_for('calendario', idPrac=cita.idPrac) }}" class="link-card-practicante-custom">
      <div class="card card-practicante-custom">
        <img
          src="{{ url_for('static', filename= 'img/' + cita.fotoPrac) }}"
          class="card-img-top-custom"
          alt="Foto del practicante"
        />
        <div class="card-body-custom">
          <h5 class="card-title-custom text-center-custom">Practicante</h5>

          <p id="nombrePrac" class="text-center-custom mt-2">{{cita.nombrePrac}}</p>
          <p id="apellidoPPrac" class="text-center-custom mt-2">{{cita.apellidoPPrac}}</p>
          <p id="apellidoMPrac" class="text-center-custom mt-2">{{cita.apellidoMPrac}}</p>

          <p id="correoPrac" class="text-center-custom mt-2">{{cita.correoPrac}}</p>
          <p id="correoPaci" class="text-center-custom mt-2">{{cita.correoPaci}}</p>

          <p id="idPaci" style="display: none;">{{cita.idPaci}}</p>
        </div>
      </div>
    </a>
    {% endfor %}

  </div>
</section>

{% endblock %}
